@import "tailwindcss";

:root {
  --background: #ededeb;
  --green: #163029;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #e3dfd3;
  }
}

body {
  background: var(--background);
  color: var(--green);
  font-family: Arial, Helvetica, sans-serif;
}
